
.MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #68BB8C !important;
}

.MuiTab-root {
    text-transform: unset !important;
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #68BB8C !important;
}

.body .MuiTabs-indicator {
  background-color: gray !important;
}

.body .MuiGridList-root {
  justify-content: center;
  width: 360px;
  height: 300px;
  margin: 0px;
}


.body .MuiBox-root {
  padding: 0;
}
